* {
    /* color: red; */
}

html,
body{
    height: 100%;
    padding: 0;
    margin: 0;
}

.rightIcons a:hover{
    text-decoration: none;
}

#pageContainer{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

#mastHeadContainer{
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 7px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
}

#mastHeadContainer button:not(.searchButton),
#mastHeadContainer .rightIcons img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}

#mastHeadContainer button img{
    width: 100%;  /* Not specifying the height allows the image to display with the correct aspect ratio*/
}

#mastHeadContainer .logoContainer{
    width: 150px;
}

#mastHeadContainer .logoContainer img{
    height: 25px;
    margin-left: 8px;
}

#sideNavContainer{
    width: 240px;
    background-color: #f5f5f5;
    padding-top: 56px;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#mainSectionContainer{
    padding-top: 56px;
    display: flex;
}

/* This code also works perfectly with the sense of using many selectors for specifity*/
/* #mainSectionContainer.leftPadding{
    padding-left: 240px;
} */

.leftPadding{
    padding-left: 240px;
}

#mainContentContainer{
    padding: 10px 30px;
    display: flex;
    flex: 1;
}

#mastHeadContainer .searchBarContainer{
    margin: 0 40px;
    flex: 1;
    display: flex;
}

#mastHeadContainer .searchBarContainer form{
    flex: 1;
    display: flex;
}

#mastHeadContainer .searchBarContainer .searchBar{
    flex: 1;
    max-width: 600px;
    color: #111;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 100;
    border: 1px solid #ccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: none;
    height: 32px;
    box-shadow: #ccc 0 1px 2px 0 inset;
}

#mastHeadContainer .searchBarContainer .searchButton{
    height: 32px;
    background-color: #f8f8f8;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    width: 65px;
}

#mastHeadContainer .searchBarContainer .searchButton img{
    width: 20px;
    /* height: 20px; */  /* the man added a height of 20px also, but i deem it not necessary..Due to aspect ration keeping issues */
}

.column{
    flex: 1;
    background-color: #fff;
    min-height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}